<!DOCTYPE html>
<html lang='en-US'>
<head>
  <title>blank</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <style>
  </style>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<body>
  <div id="header"></div>
  Henlo, birb
  <img src="data:image/format;base64,{{ image|safe }}">
  <img src="data:image/format;base64,{{ noise|safe }}">
  <div id="footer"></div>
</body>